:root{
    --bg-color: #fff
}
/*=========================
Color
=========================*/

$c_primary: #fff;
$c_warning: red;
$c_black: #000;
$c_gray: #666;

/*=========================
Color
=========================*/

/*=========================
font-size
=========================*/

$fz-base: 14px !default;

/*=========================
font-size
=========================*/